<footer id="#contact" data-spy="scroll" data-target=".navbar-fixed-top">
  <div class="container text-center">
    <h2 id="contact">Get in touch</h2>
    <hr class="short">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <i class="fa fa-phone fa-3x"></i>
        <p><a href="tel:19252699510">925.269.9510</a></p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fa fa-envelope-o fa-3x"></i>
        <p><a href="mailto:info@martinezhero.org">info@martinezhero.org</a></p>
      </div>
    </div>
    <hr>
    Joe DiMaggio Hometown Hero Project<br>
    P.O. Box 1892<br>
    Martinez, CA 94553-1892
    <hr>
    <p>Copyright &copy; 2016 Joe DiMaggio Hometown Hero Project</p>
  </div>
</footer>