<section id="footer" class="wrapper">
  <div class="title">Get In Touch</div>
  <div class="container">
    <header id="contact" class="style1">
      <h2>We'd love to hear from you</h2>
      <p>
        If you have questions, ideas or would like to contribute,<br>
        please contact us.
      </p>
    </header>
    <div class="row">
      <div class="col-12">
        <section class="feature-list small">
          <div class="row">
            <div class="col-4 col-12-small">
              <section>
                <h3 class="icon fa-home">Mailing Address</h3>
                <p>
                  Joe DiMaggio Hometown Hero Project<br />
                  P.O. Box 1892<br />
                  Martinez, CA 94553-1892
                </p>
              </section>
            </div>

            <div class="col-4 col-12-small">
              <section>
                <h3 class="icon fa-envelope">Email</h3>
                <p>
                  <a href="mailto:info@martinezhero.org">info@martinezhero.org</a>
                </p>
              </section>
            </div>

            <div class="col-4 col-12-small">
              <section>
                <h3 class="icon fa-phone">Phone</h3>
                <p>
                  <a href="tel:19252699510">(925) 269-9510</a>
                </p>
              </section>
            </div>
          </div>
        </section>
      </div>
    </div>

    <footer class="style1">
      <h2>Contribute to our cause</h2>
      <p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="text-align:center;">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="HQ6K5B2LXG75S">
          <input type="submit" value="Donate!" name="submit" class="style1">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </p>
    </footers>

    <div id="copyright">
      <ul>
        <li>Copyright &copy; 2018 Joe DiMaggio Hometown Hero Project</li>
        <li><a href="/attribution/">Attribution</a></li>
      </ul>
    </div>
  </div>
</section>