<nav id="nav">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="#">Our Work</a>
      <ul>
        <li><a href="/work/boat">The Boat</a></li>
        <li><a href="/work/museum">The Museum</a></li>
        <li><a href="/work/statue">The Statue</a></li>
        <li><a href="/work/mural">The Mural</a></li>
        <li><a href="/work/walking-tour">The Walking Tour</a></li>
      </ul>
    </li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/donate">Donate</a></li>
    <li><a href="#contact" class="page-scroll">Contact</a></li>
  </ul>
</nav>