body {
  color: #222;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-custom {
  font-family: Oswald,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.light {
    font-weight: 300;
}

.downcase {
  text-transform: none;
}

/** main **/

@media(min-width:767px) {
    .content-section {
        padding: 100px 0;
    }
}

/** navbar **/

.navbar-custom {
  background: #222;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    color: #fff;
    outline: 0;
    background-color: rgba(255,255,255,.3);
}

@media(min-width:768px) {
    .navbar-custom {
        background: #222;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%); /* W3C */
    }

    .navbar-custom.top-nav-collapse {
        background: #222;
        background-color: rgba(0,0,0,.8);
        border: 0;
    }
}

/** intro **/

.intro {
  background: url(/images/background.jpg) no-repeat bottom center scroll;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #222;
}

.intro-statue {
  background: url(../img/radio.jpg) no-repeat bottom center scroll;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #222;
}

.intro-museum {
  background: url(../img/boat.jpg) no-repeat bottom center scroll;
  background-color: #222;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
}

.intro .intro-body .brand-heading {
  font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: none
}

.initiatives {
  font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: none
  font-size: 64px;
}

.initiatives a {
  color: #fffaf0;
}

.initiatives a:hover,
.initiatives a:focus {
  color: #c9edf9;
}

.intro .intro-body. .intro-text {
  background-color: #fff;
}

@media(min-width:767px) {
    .intro .intro-body .brand-heading {
        font-size: 90px;
        font-weight: bold;
    }

    .intro .intro-body .intro-text {
      font-weight: bold;
    }
}

/** customs **/

#map {
  margin-top: 0;
  height: 300px;
}

@media(min-width:767px) {
    #map {
        height: 500px;
    }
}

hr.short {
  max-width: 50px;
  border-width: 3px;
  border-color: rgba(89, 30, 22, 1);
}

#boat {
  background: url(/boat/background.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#donate {
  background: url(/images/fireworks.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#initiatives {
  background: url(/initiatives/background.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#share {
  background: url(../img/dock.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.readable {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-sizing: border-box;
  padding: 3rem;
  margin-bottom: 100px;
}

#carousel {
  background: rgba(89, 30, 22, 1);
}

.btn-xl {
  font-size: 24px;
}

.content-section-small {
  padding-top: 50px;
}

#statue {
  background: #f0edea;
}