<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="is-preload">
  <div id="page-wrapper">
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.easing.min.js"></script>
  <script src="/js/jquery.dropotron.min.js"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/alt.js"></script>
  <script src="/js/featherlight.min.js"></script>
  <script src="/js/featherlight.gallery.min.js"></script>
</body>
</html>
